<div class="w-50 container text-center p-5">
  <%= image_tag "logo.png"%>
  <h3 class="about_us">
    <strong>
      This site was launched by a Rwanda programmer<br>i f future profits rise , some will be <br> payed for Rwanda programmer to develop this APP.
    </strong>
  </h3>
  <h4><span class="text-info">FAFULI</span> vision is to help everyone who wants to learn programming, by giving you a chance to meet nice tutors who can teach you from nothing to something bigger!!!</h4>
</div>
