<div class="head">
  <div class="ml-auto text-right p-5 w-50 text-pink">
    <h1>Please consult and ask</h1> <br>
    <h3>First free! provides an opportunity <br> to be assured</h3>
    <% if user_signed_in? %>
      <%= link_to 'Register course', new_course_path, class: "btn btn-info px-4 text-white btn-lg" %>
    <% else %>
      <%= link_to 'Get started', new_user_registration_path, class: "btn btn-info px-4 text-white btn-lg" %>
    <% end %>


  </div>

</div>
