<div class="head">
  <div class="ml-auto text-right p-5 w-50 text-pink">
    <h1>Please consult and ask</h1> <br>
    <h3>First free! provides an opportunity <br> to be assured</h3>
  <button type="button" name="button" class="btn btn-info">Get started</button>
  <button type="button" name="button" class="btn btn-info">Register course</button>
  </div>
  
</div>
