

.form{
    border: 2px solid black;
    width: 60%;
    margin-left: 15rem;
    padding: 3rem;
    background-color:#B0C4DE;
}
.form1{
   
   
   
    width: 35%;
    padding: 3rem;
float: left;
height: 280px;


}
.form2{
   
    width: 35%;
 
   float: right;
   margin-bottom: 3rem;
  
   padding: 4rem;
 
}
.btn{
   
    font-size: 30px;
   height: 50px;
  
}
h1{
    text-align: center;
}

// Place all the styles related to the courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
