.first{
    float:right;
    margin-right: 200px;
}

.actions{
    margin-left: 400px;
}
.form{
    margin-left: 80px;
    color:blue;
    background-color:azure;

}
.new{
    margin-left: 200px; 
}

// Place all the styles related to the courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
